<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" shape="round" (click)="back()">
      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>
    <ion-title>عناوين التوصيل</ion-title>
    <ion-button slot="end" fill="clear" shape="round">
      <img src="../../../assets/Icon&Svg/navigation bootom & general icon//Svg/cart.svg" alt="">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="emptyView" *ngIf="emptyView">
    <div>
      <div class="image">
        <img src="../../../assets/Icon&Svg/8.my location/android/drawable-hdpi/location_empty.png" alt="">
      </div>
      <div class="info">
        <h3>لا يوجد عناوين مضافة</h3>
        <p>برجاء إضافة عنوان لكي يمكن توصيل طلباتك عليه</p>
      </div>
    </div>
  </div>

  <div class="view">

    <h3 class="title">العنوان الأساسي</h3>

    <ion-radio-group name="auto" [value]="myAddress" (ionChange)="change($event)">
      <div *ngIf="myAddress">

        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-radio slot="start" [value]="myAddress"></ion-radio>
              <ion-label><strong>{{myAddress?.title}}</strong> </ion-label>
              <ion-buttons slot="end">
                <ion-button fill="clear" class="edit" (click)="edit(myAddress)">
                  <img src="../../../assets/Icon&Svg/8.my location/svg/edit.svg" alt="">
                </ion-button>
                <!-- <ion-button fill="clear" class="delete" (click)="deleteAddress(myAddress)">
                  <img src="../../../assets/Icon&Svg/8.my location/svg/delet.svg" alt="">
                </ion-button> -->
              </ion-buttons>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <p>{{myAddress?.city}} - {{myAddress?.zone}}</p>
            <p>{{myAddress?.street}}</p>
          </ion-card-content>
        </ion-card>
      </div>

      <div *ngIf="otherAddress.length">
        <h3 class="title">العناوين الآخرى</h3>
        <ion-card *ngFor="let ad of otherAddress;let i = index">
          <ion-card-header>
            <ion-item lines="none">
              <ion-radio slot="start" [value]="ad"></ion-radio>
              <ion-label><strong>{{ad?.title}} </strong> </ion-label>
              <ion-buttons slot="end">
                <ion-button fill="clear" class="edit" (click)="edit(ad)">
                  <img src="../../../assets/Icon&Svg/8.my location/svg/edit.svg" alt="">
                </ion-button>
                <ion-button fill="clear" class="delete" (click)="deleteAddress(ad,i)">
                  <img src="../../../assets/Icon&Svg/8.my location/svg/delet.svg" alt="">
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <p>{{ad?.city}} - {{ad?.zone}}</p>
            <p>{{ad?.street}}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-radio-group>

  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="addAddress()" expand="block">
      إضافة عنوان جديد
    </ion-button>
  </ion-toolbar>
</ion-footer>
