<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" shape="round" (click)="back()">
      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">إضافة عنوان جديد</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container">

    <div #smallMap class="map" (click)="toMap()">
      <div class="mark">
        <img src="../../../assets/Icon&Svg/8.my location/svg/pin_unactice.svg" alt="">
        <p>تحديد الموقع</p>
      </div>
    </div>

    <ion-list lines="none">
      <p>اسم مميز للعنوان</p>
      <ion-item>
        <ion-input [(ngModel)]="title" type="text" value="بيت العائلة"></ion-input>
      </ion-item>

      <p>المدينة</p>
      <ion-item>
        <ion-select [(ngModel)]="title" placeholder="zag" mode="ios" interface="action-sheet">
          <ion-select-option value="cairo">القاهرة</ion-select-option>
          <ion-select-option value="giza">الجيزة</ion-select-option>
          <ion-select-option value="alex">الاسكندرية</ion-select-option>
          <ion-select-option value="zag">الزقازيق</ion-select-option>
          <ion-select-option value="mahla">المحلة</ion-select-option>
        </ion-select>
        <ion-label slot="end">
          <img src="../../../assets/Icon&Svg/7.profile information/svg/more.svg">
        </ion-label>
      </ion-item>


      <p>المنطقة</p>
      <ion-item>
        <ion-input [(ngModel)]="zone" type="text" placeholder="المنطقة الاولي"></ion-input>
        <!-- <ion-label slot="end">
          <img src="../../../assets/Icon&Svg/7.profile information/svg/more.svg">
        </ion-label> -->
      </ion-item>

      <p>اسم الشارع</p>
      <ion-item>
        <ion-input [(ngModel)]="street" type="text" value=" شارع التحرير"></ion-input>
      </ion-item>

      <!-- <ion-row>
        <ion-col size="4">
          <p>رقم العمارة</p>
          <ion-item>
            <ion-input type="number" placeholder="مثال :20"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <p>رقم الدور</p>
          <ion-item>
            <ion-input type="number" placeholder="مثال :4"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <p>رقم الشقة</p>
          <ion-item>
            <ion-input type="number" placeholder="مثال :2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row> -->

      <p>علامة مميزة</p>
      <ion-item>
        <ion-input [(ngModel)]="mark" type="text" placeholder="مثال: أمام سوبر ماكت البركة"></ion-input>
      </ion-item>

    </ion-list>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" [disabled]="!currentLocation || !title || !userId " (click)="addAddress()">
      حفظ المعلومات
    </ion-button>
  </ion-toolbar>
</ion-footer>
