<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      <div>
        <ion-text>الأقسام</ion-text>
      </div>
    </ion-title>
    <ion-button (click)="toCart()" slot="end" fill="clear" shape="round">
      <img src="../../../assets/Icon&Svg/1.home/svg/cart.svg" alt="">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <div class="container">
      <ion-row>
        <ion-col size="6">
          <h2>({{categories?.length}}) اقسام</h2>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" (click)="changeView()">
            <img
              [src]=" numView ==0 ?'../../../assets/Icon&Svg/4.categorie/svg/shape_option2.svg' : '../../../assets/Icon&Svg/4.categorie/svg/shape_option1.svg'"
              alt="" srcset="">
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="firstView" *ngIf="numView ==0">
    <div class="container">
      <div class="item" *ngFor="let category of categories">
        <ion-row (click)="items_by_category(category)">
          <ion-col size="4">
            <div class="image">
              <img [src]="category?.CATEGORY_IMAGE_PATH">
            </div>
          </ion-col>
          <ion-col size="8">
            <h3>{{category?.CATEGORY_NAME}}</h3>
            <p> اكثر من {{category?.item_count}} منتج </p>
          </ion-col>
        </ion-row>
      </div>

      <!-- <div class="item">
        <ion-row>
          <ion-col size="4">
            <div class="image">
              <img src="../../../assets/Icon&Svg/4.categorie/android/drawable-hdpi/kids.png">
            </div>
          </ion-col>
          <ion-col size="8">
            <h3>الأطفال</h3>
            <p>اكثر من 350 منتج خاص بالأطفال</p>
          </ion-col>
        </ion-row>
      </div>

      <div class="item">
        <ion-row>
          <ion-col size="4">
            <div class="image">
              <img src="../../../assets/Icon&Svg/4.categorie/android/drawable-hdpi/book.png">
            </div>
          </ion-col>
          <ion-col size="8">
            <h3>عالم القراءة</h3>
            <p>أكثر من 350 كتاب</p>
          </ion-col>
        </ion-row>
      </div> -->

    </div>
  </div>

  <div class="secondView" *ngIf="numView ==1">
    <div class="container">

      <ion-card *ngFor="let category of categories">
        <ion-card-header (click)="items_by_category(category)">
          <img [src]="category?.CATEGORY_IMAGE_PATH" alt="">
        </ion-card-header>
        <ion-card-content (click)="items_by_category(category)">
          <h3>{{category?.CATEGORY_NAME}}</h3>
          <p> اكثر من {{category?.item_count}} منتج </p>
        </ion-card-content>
      </ion-card>

      <!-- <ion-card>
        <ion-card-header>
          <img src="../../../assets/Icon&Svg/4.categorie/android/drawable-hdpi/kids.png">
        </ion-card-header>
        <ion-card-content>
          <h3>الأطفال</h3>
          <p>اكثر من 350 منتج خاص بالأطفال</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <img src="../../../assets/Icon&Svg/4.categorie/android/drawable-hdpi/book.png">
        </ion-card-header>
        <ion-card-content>
          <h3>عالم القراءة</h3>
          <p>أكثر من 350 كتاب</p>
        </ion-card-content>
      </ion-card> -->

    </div>
  </div>

</ion-content>
