<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" shape="round" (click)="back()">
      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>
    <ion-title>تفاصيل الطلب</ion-title>
    <ion-button slot="end" fill="clear" shape="round">
      <img src="../../../assets/Icon&Svg/navigation bootom & general icon//Svg/cart.svg" alt="">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>نظرة عامة</h2>

    <div class="card">
      <div class="head">
        <div class="start">
          <p>رقم الطلب</p>
          <h3>#342534</h3>
        </div>
        <div class="end">
          <button>
            الحالة
          </button>
        </div>
      </div>
      <div class="head">
        <div class="start">
          <p>تاريخ ارسال الطلب</p>
          <h3>#342534</h3>
        </div>
      </div>
    </div>

    <h2>عنوان التوصيل</h2>

    <ion-card>
      <ion-card-header>
        <ion-item lines="none" [button]="false">
          <ion-label><strong>myAddress?.title</strong> </ion-label>

        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <p>myAddress?.city - myAddress?.zone</p>
        <p>myAddress?.street</p>
      </ion-card-content>
    </ion-card>

    <h2>(2) منتج</h2>

  </div>

  <div class="prodCards">
    <ion-card>
      <ion-card-header>
        <img src="../../../assets/Icon&Svg/1.home/android/drawable-hdpi/product.png" alt="">
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>أجندة بقلم ريشة بخامات ممتازة</ion-card-title>
        <p>150 ج</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>

        <img src="../../../assets/Icon&Svg/1.home/android/drawable-hdpi/product-1.png" alt="">
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>نوت بوك خشب مطبوع مقاس A5</ion-card-title>
        <p>150 ج</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <img src="../../../assets/Icon&Svg/1.home/android/drawable-hdpi/product 3.png" alt="">
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>نوت بوك خشب مطبوع مقاس A5</ion-card-title>
        <p>150 ج</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="container">
    <h2>قيمة الطلب</h2>

    <div class="cash">
      <p> سعر المنتجات <span class="end">totalCash</span></p>
      <p> التوصيل <span class="end">30</span></p>
      <p> السعر الكلي <span class="end">totalCash + 30</span></p>
    </div>

    <h2>طريقة الدفع</h2>

    <div class="method">
      <ion-item class="radio" lines="none">
        <img src="../../../assets/Icon&Svg/3.cart//android/drawable-hdpi/NoPath.png" alt="">
        <ion-label>عن طريق خدمة ( فوري )</ion-label>
      </ion-item>
    </div>
  </div>

</ion-content>
