<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" shape="round" (click)="back()">
      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">تحديد الموقع</ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>
  <div #map class="map"></div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button fill="clear" class="myLocation" mode="ios">
      <img src="../../../assets/Icon&Svg/8.my location/svg/my_location.svg" alt="">
      موقعي
    </ion-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block">
      تأكيد الموقع
    </ion-button>
  </ion-toolbar>
</ion-footer>
