<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      <div class="home">
        <img src="../../../assets/logo in app/svg/logo_bar.svg" alt="">
        <ion-text>سبيدو</ion-text>
      </div>
    </ion-title>
    <ion-button (click)="toCart()" slot="end" fill="clear" shape="round">
      <img src="../../../assets/Icon&Svg/1.home/svg/cart.svg" alt="">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <ion-searchbar animated="true" placeholder="البحث عن الأدوات او الاكسوارات" showCancelButton="never">
      <img slot="start" src="../../../assets/Icon&Svg/1.home/svg/search.svg" alt="">
    </ion-searchbar>

    <ion-slides class="home" pager="ios" [options]="slidesOptions">
      <ion-slide>
        <img src="../../../assets/Icon&Svg/1.home/android/drawable-hdpi/slider_1.png" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/Icon&Svg/1.home/android/drawable-hdpi/slider_1.png" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/Icon&Svg/1.home/android/drawable-hdpi/slider_1.png" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/Icon&Svg/1.home/android/drawable-hdpi/slider_1.png" alt="">
      </ion-slide>
    </ion-slides>

    <div class="cards">
      <ion-item lines="none">
        <ion-label slot="start">اضيف حديثا</ion-label>
        <ion-label slot="end" (click)="viewMore()">
          المزيد
        </ion-label>
      </ion-item>
      <div class="prodCards">

        <ion-card *ngFor="let item of feature;let i = index">
          <ion-card-header>
            <!-- <span class="discount">15%-</span> -->
            <span class="fav">
              <img src="../../../assets/Icon&Svg/1.home/svg/like.svg" alt="">
            </span>
            <img [src]="item?.IMG_URL" alt="" (click)="detail(item)">
          </ion-card-header>
          <ion-card-content>
            <ion-card-title (click)="detail(item)">{{item?.ITEM_NAME}}</ion-card-title>
            <p (click)="detail(item)">{{item?.PRICE_SALE_3}} ج <span>{{item?.PRICE_SALE_1}} ج</span></p>
            <ion-button *ngIf="!item.addedToCart" class="add" expand="block" (click)="addToCart(item)">
              إضافة للسلة
            </ion-button>
            <div class="qount" *ngIf="item.addedToCart">
              <ion-buttons>
                <ion-button (click)="increase(item,i)">
                  <img src="../../../assets/Icon&Svg/2.product details/svg/add.svg" alt="">
                </ion-button>
                <ion-label>{{item?.UNIT_QTY}}</ion-label>
                <ion-button (click)="decrease(item,i)" [disabled]="item.UNIT_QTY == 1">
                  <img src="../../../assets/Icon&Svg/2.product details/svg/low.svg" alt="">
                </ion-button>
              </ion-buttons>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>


    <div class="cards">
      <ion-item lines="none">
        <ion-label slot="start">العروض</ion-label>
        <ion-label slot="end" (click)="viewMore()">
          المزيد
        </ion-label>
      </ion-item>
      <div class="prodCards">
        <ion-card *ngFor="let item of discounts;let i = index">
          <ion-card-header>
            <span class="discount">{{(item.PRICE_SALE_3 / item.PRICE_SALE_1) /100 | percent}}</span>
            <span class="fav">
              <img src="../../../assets/Icon&Svg/1.home/svg/like.svg" alt="">
            </span>
            <img [src]="item?.IMG_URL" alt="" (click)="detail(item)">
          </ion-card-header>
          <ion-card-content>
            <ion-card-title (click)="detail(item)">{{item?.ITEM_NAME}}</ion-card-title>
            <p (click)="detail(item)">{{item?.PRICE_SALE_3}} ج <span>{{item?.PRICE_SALE_1}} ج</span></p>
            <ion-button *ngIf="!item.addedToCart" class="add" expand="block" (click)="addToCart(item)">
              إضافة للسلة
            </ion-button>
            <div class="qount" *ngIf="item.addedToCart">
              <ion-buttons>
                <ion-button (click)="increase(item,i)">
                  <img src="../../../assets/Icon&Svg/2.product details/svg/add.svg" alt="">
                </ion-button>
                <ion-label>{{item?.UNIT_QTY}}</ion-label>
                <ion-button (click)="decrease(item,i)" [disabled]="item.UNIT_QTY == 1">
                  <img src="../../../assets/Icon&Svg/2.product details/svg/low.svg" alt="">
                </ion-button>
              </ion-buttons>
            </div>
          </ion-card-content>
        </ion-card>
      </div>

    </div>

  </div>

</ion-content>
