ion-header {

  ion-button {
    ion-icon {
      font-size: 20px;
      color: #292929;
    }
  }

  ion-title {
    font-size: 20px;
    color: #292929;
    text-align: center;
  }

}




.view {
  margin-inline: 16px;

  .item {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    margin-top: 16px;
    box-shadow: 0 3px 6px #00000029;
    display: flex;

    ion-row {
      height: 100%;
    }

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 40%;
      margin: 4px 6px;
      border-radius: 8px;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    span.discount {
      position: absolute;
      top: 17px;
      right: 6px;
      border-radius: 4px;
      padding: 5px 4px 2px;
      background-color: #F6D3D3;
      color: #B31919;
      font-weight: 500;
      z-index: 5;
      font-size: 12px;
    }


    h3 {
      font-size: 16px;
      line-height: 22px;
      color: var(--dark-text);
      width: 85%;
      margin-bottom: 12px;
    }

    p {
      font-size: 14px;
      font-weight: 600;
      color: #292929;
      margin-bottom: 12px;
      margin-top: 0;

      span {
        margin-inline-start: 5px;
        font-weight: 400;
        color: #B2B2B2;
        text-decoration: line-through;
      }
    }

    ion-button {
      --border-radius: 0px 8px;
      --box-shadow: none;
      position: absolute;
      bottom: 0;
      left: 0px;
      margin: 0;
      --padding-end: 10px;
      --padding-start: 10px;

      ion-icon {
        font-size: 24px;
      }
    }
  }
}
