<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" shape="round" (click)="back()">
      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons> -->
    <ion-title class="ion-text-center">سلة المشتريات</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container">
    <h2>({{cart.length}}) منتج</h2>

    <div class="product" *ngFor="let pro of cart;let i = index">
      <div class="prodHead">
        <div class="image">
          <img [src]="pro?.IMG_URL" alt="">
        </div>
        <div class="info">
          <p>{{pro?.ITEM_NAME}}</p>
          <span>{{pro?.PRICE_SALE_1}} ج <del>{{pro?.PRICE_SALE_1}} ج</del></span>
        </div>
        <div class="delDiv">
          <ion-button mode="ios" fill="clear" (click)="remove(i)">
            <img src="../../../assets/Icon&Svg/3.cart/android/drawable-hdpi/delet.png" alt="">
          </ion-button>
        </div>
      </div>
      <div class="count">
        <ion-row>
          <ion-col size="2">
            <ion-button fill="clear" (click)="decrease(i)" [disabled]="pro.UNIT_QTY == 1">
              <img src="../../../assets/Icon&Svg/3.cart/android/drawable-hdpi/low.png" alt="">
            </ion-button>
          </ion-col>
          <ion-col size="8">
            <ion-title>{{pro?.UNIT_QTY}}</ion-title>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear" (click)="increase(i)">
              <img src="../../../assets/Icon&Svg/3.cart/android/drawable-hdpi/add.png" alt="">
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <p> سعر المنتجات <span class="end">{{totalCash}}</span></p>
    <p> التوصيل <span class="end">30</span></p>
    <p> السعر الكلي <span class="end">{{totalCash + deliveryCost}}</span></p>
    <ion-button expand="block" (click)="confirm()" [disabled]="!cart.length">
      إكمال الطلب
    </ion-button>
  </ion-toolbar>
</ion-footer>
