<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" name="close-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="emptyView">
    <!-- <div> -->
    <div class="image">
      <img src="../../../assets/Icon&Svg/7.profile information/android/drawable-hdpi/done.png" alt="">
    </div>
    <div class="done">

      <h1>تم تغيير كلمة السر بنجاح</h1>
      <!-- <p>إضافة المنتجات المفضلة لك</p> -->
      <ion-button mode="ios" shape="round" fill="solid" expand="block" (click)="toAccount()">
        الذهاب إلى حسابي
      </ion-button>
      <ion-button mode="ios" shape="round" fill="clear" expand="block" (click)="toHome()">
        الرجوع للرئيسية
      </ion-button>
    </div>
    <!-- </div> -->
  </div>

</ion-content>
