ion-header {
  ion-button {
    ion-icon {
      font-size: 20px;
      color: #292929;
    }
  }
}

ion-content {
  --background: #fff;
}

.image {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-block: 48px;

  img {
    width: 255px;
  }
}

ion-list {
  margin-inline: 32px;
  margin-bottom: 30px;

  p {
    color: #656565;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 12px;
  }

  ion-item {
    border: 1px solid #B2B2B2;
    border-radius: 6px;
    color: #292929;
  }


  ion-label {
    display: flex;

    img {
      margin-inline-start: 5px;
    }

  }
}




ion-footer {
  height: 117px;

  ion-button {
    height: 50px;
    margin: 16px;
    --border-radius: 8px;
  }
}

ion-footer::after {
  bottom: 9px;
  content: "";
  height: 4px;
  color: #000;
  background-color: #292929;
  width: 49%;
  position: absolute;

  left: 25%;
  right: 25%;
  border-radius: 100px;
}
