<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" shape="round" (click)="back()">
      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">تعديل المعلومات</ion-title>
    <ion-button slot="end" fill="clear" shape="round" (click)="toCart()">
      <img src="../../../assets/Icon&Svg/navigation bootom & general icon//Svg/cart.svg" alt="">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image">
    <img src="../../../assets/Icon&Svg/splash & sign/png/drawable-hdpi/change_pass.png" alt="">
  </div>
  <ion-list lines="none">
    <p>كلمة السر الحالية</p>
    <ion-item>
      <ion-input type="password" value="Kareem Adel"></ion-input>
      <ion-label slot="end">
        <img src="../../../assets/Icon&Svg/7.profile information/svg/show_pass.svg" alt="">
      </ion-label>
    </ion-item>

    <p>كلمة السر الجديدة</p>
    <ion-item>
      <ion-input type="password" value="01066655063"></ion-input>
      <ion-label slot="end">
        <img src="../../../assets/Icon&Svg/7.profile information/svg/show_pass.svg" alt="">
      </ion-label>
    </ion-item>

    <p>تأكيد كلمة السر الجديدة</p>
    <ion-item>
      <ion-input type="password" value="01066655063"></ion-input>
      <ion-label slot="end">
        <img src="../../../assets/Icon&Svg/7.profile information/svg/show_pass.svg" alt="">
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="done()">
      حفظ
    </ion-button>
  </ion-toolbar>
</ion-footer>
